<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strxngers</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
</head>
<body>
    <div class="innercursor"></div>
    <div class="outercursor"></div>
    <div id="intro-overlay">
        
        <div id="inner-content">
            <img id="strxngers-logo" class="parallax-obj" data-speed="1" src="" alt="Strxngers Logo" style="opacity: 0%;">
 
  
            <h3 id="slogan" class="parallax-obj" data-speed="-1">PAIN AND SUFFERING AND OKAY</h3>
            <button class="btns" id="entersite-btn">Begin Shopping</button>
        </div>
    </div>

    <!-- Main Content -->

    <div id="header">
        <img src="{% static 'imgs/strxngers.svg' %}" alt="Strxngers Logo" id="header-logo">
    </div>

    <div id="content-wrap">
        <div id="img-placehold">
            this will be an image
        </div>
        <div id="desc-wrap">
            <h1 id="product-title">STRXNGERS CLOTHES</h1>
            <h2 id="price">$20.00</h2>
            <button class="btns" id="buy-btn">Buy Now</button>
        </div>
        
    </div>
    
        
</body>
</html>