<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strxngers</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
</head>
<body>
    <div class="innercursor"></div>
    <div class="outercursor"></div>
    <div id="intro-overlay">
        
        <div class="fadeInIntro" id="inner-content">
            <img id="strxngers-logo" class="parallax-obj" data-speed="1" src="" alt="Strxngers Logo" style="opacity: 0%;">
 
  
            <h3 id="slogan" class="parallax-obj" data-speed="-1">PAIN AND SUFFERING AND OKAY</h3>
            <button class="btns" id="entersite-btn">Begin Shopping</button>
        </div>
    </div>

    <!-- Main Content -->

    <div id="header">
        <img src="{% static 'imgs/strxngers.svg' %}" alt="Strxngers Logo" id="header-logo">
    </div>

    <div id="content-wrap">
        <div id="img-placehold">
            <img id="img-shirt" src="{% static 'imgs/placeholdshirt.png' %}" alt="Place Holder">
            <img id="img-splash" src="{% static 'imgs/whitesplash.svg' %}" alt="whitesplash">
        </div>
        <div id="desc-wrap">
            <h1 id="product-title">STRXNGERS TEE</h1>
            <div class="details-wrap-class" id="details-wrap">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa atque exercitat eaque tempora magni illum amet, laboriosam?
                <div id="sizes-wrap">
                    <div id='sizes-box' class="size-box">
                        Sizes
                    </div>
                    <div class="size-box">
                        S
                    </div>
                    <div class="size-box">
                        M
                    </div>
                    <div class="size-box">
                        L
                    </div>
                    <div class="size-box">
                        XL
                    </div>
                </div>
            </div>
            <h2 id="price">$20.00</h2>
            <div id="button-wrap">
                <button class="btns" id="buy-btn">Add to cart</button>
                <button class="btns" id="details-btn">Details</button>
            </div>
            
        </div>
        
    </div>
    
        
</body>
</html>