<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strxngers</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="icon" href="{% static 'imgs/favicon.svg' %}">
</head>
<body>

    <div id="intro-overlay">
        <div id="inner-content">
            <img src="{% static 'imgs/animate.gif' %}" alt="Strxngers Logo" id="strxngers-logo">
 
  
            <h3 id="slogan">PAIN AND SUFFERING AND OKAY</h3>
            <button id="entersite-btn">Begin Shopping</button>
        </div>
    </div>

    <!-- Main Content -->

    <div id="header">
        <img src="{% static 'imgs/strxngers.svg' %}" alt="Strxngers Logo" id="header-logo">
    </div>

    <div id="content-wrap">
        <div id="img-placehold">
            this will be an image
        </div>
        <div id="desc-wrap">
            <h1 id="product-title">STRXNGERS CLOTHES</h1>
            <h2 id="price">$20.00</h2>
            <button id="buy-btn">Buy Now</button>
        </div>
        
    </div>
    
        
</body>
</html>