body, html{
    background-color: #070707;
    font-family: larken;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    overflow: hidden;
    /* cursor: none; */
}

/* button:hover{
    cursor: none;
} */

::selection {
    background-color: #DC1E3D;

}

button {
    font-family: larken;
}



/* INTRO OVERLAY */

#intro-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #070707;
    position: fixed;
    z-index: 50;
    transition: opacity .25s ease-in-out;
    display: none;
}

#intro-overlay.fadeOut {
    opacity: 0;
}

#intro-overlay.remove {
    display: none;
}

.remove-img{
    animation: fadeOut .5s forwards;
}
.add-img{
    animation: fadeIn .5s ;
    
}

@keyframes fadeOut {
    0%{ opacity: 100%; }
    100% { opacity: 0%; }
}

#inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

#strxngers-logo{
    width: 400px;
    height: 101px;
    position: relative;
}
#entersite-btn {
    padding: 15px;
    font-size: 20px;
    width: 250px;
    color: white;
    background-color: #DC1E3D;
    border: 0px;
    margin-top: 100px;
}

#entersite-btn:hover{
    background-color: #981a2f;
 } 

#slogan {
    margin: 0px;
    position: relative;
}

.fadeInIntro{
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/* Main Content */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #070707;
    height: 55px;
}

#header-logo {
    width: 200px;
    height: 80px;
}

#content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: calc(100vh - 80px);
    background-image: url('/static/imgs/city.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

#img-placehold {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-shirt{
    width: 250px;
    position: absolute;
    z-index: 5;
   
}
#img-splash{
    width: 300px;
    position: relative;

}

#product-title {
    margin: 50px 0px 0px 0px;
    z-index: 15;
}

#desc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

#details-wrap{
    width: 300px;
    position: absolute;
    
}
.details-wrap-class{
    display: none;
}

#details-wrap.details-open{
    display: block;
    animation: moveDetails .6s forwards;
    z-index: 15;
}
.move-title{
    animation: moveTitle .6s forwards;
    z-index: 15;
    
}

.details-close{
    animation: closeDetails .6s forwards;
   
}
.move-title-down{
    animation: moveTitleDown .6s forwards;
   
}

@keyframes moveTitle {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-160px); }
}
  @keyframes moveDetails {
    0% { transform: translateY(100px); opacity: 0%; }
    25% {opacity: 0%;}
    100% { transform: translateY(-60px); opacity: 100%; }
}



@keyframes moveTitleDown {
    0% { transform: translateY(-160px); }
    100% { transform: translateY(0px); }
}
@keyframes closeDetails {
    0% {  opacity: 100%; }
    100% { opacity: 0%; }
}
#sizes-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
    padding-top: 30px;
}

#sizes-box{
    background-color: white;
    color: black;
    height: 35px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.size-box{
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 10px 0px 0px; */
}
#price{
    margin: 20px 0px 15px 0px;
}
#button-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#buy-btn {
    padding: 15px;
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: #DC1E3D;
    border: 0px;
}

#details-btn {
    padding: 15px;
    font-size: 20px;
    width: 150px;
    color: white;
    background-color: #070707;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#details-btn>img{
    pointer-events: none;
}
#buy-btn:hover{
    background-color: #981a2f;
}

#details-btn:hover{
    background-color: #2a2a2a;
}



@font-face {
    font-family: 'larken';
    src: local('rounded'), url('/static/css/fonts/larken.ttf') format("truetype");
}



@media screen and (min-width: 768px) {
    #details-wrap{
        width: 400px;
        font-size: 20px;
    }

    #sizes-wrap{
        width: 400px;
        padding-top: 20px;
        justify-content: space-between;
    }

    .size-box{
        padding: 10px;
        width: 35px;
        height: 35px;
        display: flex;
    }


    @keyframes moveTitle {
        0% { transform: translateY(0px); }
        100% { transform: translateY(-200px); }
    }
    #button-wrap{
        width: 350px;
    }
    #desc-wrap{
        width: 600px;
    }
    #strxngers-logo{
        width: 600px;
        height: 150px;
    }
    #slogan{
        font-size: 25px;
    }
    #product-title{
        font-size: 55px;
    }
    
    #img-shirt{
        width: 400px;
    }
    #img-splash{
        width: 450px;
    }

}

@media screen and (min-width: 1366px){
    .innercursor{
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 100px;
        z-index: 15;
        position: fixed;
        display: none;
        pointer-events: none;
        transition: width 0.5s, height 0.5s;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(3px);
        
    }
    
    .grow{
        width: 40px;
        height: 40px;
        transform: width 0.5s, height 0.5;
        mix-blend-mode:hue;
    }
    .outercursor.shrink{
        width: 40px;
        height: 40px;
        transform: width 0.5s, height 0.5;
    }
    .outercursor{
        content: '';
        border: 4px solid white;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 15;
        pointer-events: none;
        transition: width 0.5s, height 0.5s, top 0.03s, left 0.03s;
        display: none;
    }

    .clickAnm{
        animation: cursorClick .5s forwards;
        
    }
    @keyframes cursorClick {
        0% { width: 40px; height: 40px}
        50% { width: 25px; height: 25px}
        100% { width: 40px; height: 40px}
      }
    
}
